body {
	background-color: #000000;
	color: #aaaaaa;
}
a:link {
	color: #ffff00;
	text-decoration: none;
}
a:visited {
	color: #aaaa00;
	text-decoration: none;
}
a:hover, a:active {
	color: #ffff00;
	text-decoration: underline;
}
pre {
	padding: 5px;
	margin: 10px;
	background: #000000;
}
:not(pre) > code {
	display: inline-block;
	padding: 2px;
	background: #000000;
	color: #ffffff;
	border-color: #555555;
	border-width: 1px;
	border-style: dotted;
}
h1, h2, h3 {
	color: #aaaa00;
}
h1 {
	font-size: 24px;
}
h2 {
	font-size: 16px;
}
h3 {
	font-size: 12px;
}
em, i {
	color: #ffffff;
}
strong, b {
	color: #ffffff;
}

div.body {
	font-size: 14px;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 800px;
}

div.main, div.footer, div.header {
	padding: 5px 20px 10px 20px;
	background-color: #0a0a0a;
	color: #bbbbbb;
	overflow: hidden;
}

div.main {
}
div.footer {
	font-size: 12px;
	margin-top: 10px;
}
div.header {
	margin-bottom: 10px;
}

img {
	float: left;
	margin: 0 10px 5px 0;
	display: block;
}
