/* * { border: solid; border-width: 1px; } */
body {
	background-color: #0a0a0a;
	color: #aaaaaa;
}
a:link {
	color: #ffff00;
	text-decoration: none;
}
a:visited {
	color: #aaaa00;
	text-decoration: none;
}
a:hover, a:active {
	color: #ffff00;
	text-decoration: underline;
}
pre {
	padding: 5px;
	margin: 10px;
	background: #000000;
	overflow-x: auto;
	border-color: #333333;
	border-width: 1px;
	border-style: dashed;
}
:not(pre) > code {
	display: inline-block;
	padding: 2px;
	background: #000000;
	color: #ffffff;
	border-color: #555555;
	border-width: 1px;
	border-style: dotted;
}
h1, h2, h3 {
	padding-left: 20px;
	color: #aaaa00;
}
h1 {
	font-size: 24px;
}
h2 {
	font-size: 16px;
}
h3 {
	font-size: 12px;
}
em, i {
	color: #ffffff;
}
strong, b {
	color: #dddddd;
}
img {
	float: right;
	margin: 0 0 5px 10px;
	display: block;
}

hr {
	border: none;
	height: 1px;
	background-color: #888888;
}
div.body {
	font-size: 14px;
	width: 100%;
}
div.menu {
	position: fixed;
	top: 0px;
	width: 150px;
	padding: 30px 30px 30px 20px;
}
div.main {
	padding: 20px 0px 30px 10px;
	margin-left: 200px;
	width: auto;
	max-width: 800px;
}
.NOSPAM {
	display: none;
}
table, td {
	border: 1px solid #dddddd;
	border-collapse: collapse;
}
.screenshot {
	padding: 5px;
	height: 100px;
	text-align: center;
	vertical-align: middle;
}
.description {
	padding: 5px;
	text-align: left;
	vertical-align: top;
}
div#black_overlay {
	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 1001;
	-moz-opacity: 0.8;
	opacity: .80;
	filter: alpha(opacity=80);
}
div#popup_gallery {
	display: none;
	position: fixed;
	top: 10%;
	left: 10%;
	width: 80%;
	height: 80%;
	z-index: 1002;
	background-color: #111111;
	overflow: auto;
	padding: 10px;
}
#gallery_image {
	float: none !important;
	display: block;
	margin: auto;
	max-width: 100%;
	max-height: 100%;
}
