body {
	background-color: #0a0a0a;
	color: #aaaaaa;
}
a:link {
	color: #ffff00;
	text-decoration: none;
}
a:visited {
	color: #aaaa00;
	text-decoration: none;
}
a:hover, a:active {
	color: #ffff00;
	text-decoration: underline;
}
pre {
	padding: 5px;
	margin: 10px;
	background: #000000;
	overflow-x: auto;
	border-color: #333333;
	border-width: 1px;
	border-style: dashed;
}
:not(pre) > code {
	display: inline-block;
	padding: 2px;
	background: #000000;
	color: #ffffff;
	border-color: #555555;
	border-width: 1px;
	border-style: dotted;
}
h1, h2, h3 {
	padding-left: 20px;
	color: #aaaa00;
}
h1 {
	font-size: 24px;
}
h2 {
	font-size: 16px;
}
h3 {
	font-size: 12px;
}
em, i {
	color: #ffffff;
}
strong, b {
	color: #dddddd;
}
img {
	float: right;
	margin: 0 0 5px 10px;
	display: block;
}

div.body {
	font-size: 14px;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 800px;
}
div.main, div.menu, div.footer, div.header {
	padding: 5px 20px 10px 20px;
	overflow: hidden;
}
div.post-date {
	color: #555555;
	padding-left: 10px;
	font-size: 12px;
}
div.footer {
	font-size: 12px;
	margin-top: 10px;
}
div.header {
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.NOSPAM {
	display: none;
}
