.hll { background-color: #000000 }

.c  { color: #0088ff; } /* font-style: italic Comment */
.cm { color: #0088ff; } /* font-style: italic Comment.Multiline */
.c1 { color: #0088ff; } /* font-style: italic Comment.Single */
.cp { color: #0088ff; font-weight: bold } /* Comment.Preproc */
.err { color: #000000; background-color: #ff0000 } /* Error */

.k  { color: #aaaa00; font-weight: bold } /* Keyword */
.kc { color: #aaaa00; font-weight: bold } /* Keyword.Constant */
.kd { color: #aaaa00; font-weight: bold } /* Keyword.Declaration */
.kn { color: #aaaa00; font-weight: bold } /* Keyword.Namespace */
.kp { color: #aaaa00; } /* Keyword.Pseudo */
.kr { color: #aaaa00; font-weight: bold } /* Keyword.Reserved */
.kt { color: #00aa00; font-weight: bold } /* Keyword.Type */

.l  { color: #d00000 } /* Literal */
.ld { color: #d00000 } /* Literal.Date */
.m  { color: #d00000 } /* Literal.Number */
.s  { color: #d00000 } /* Literal.String */
.mf { color: #d00000 } /* Literal.Number.Float */
.mh { color: #d00000 } /* Literal.Number.Hex */
.mi { color: #d00000 } /* Literal.Number.Integer */
.mo { color: #d00000 } /* Literal.Number.Oct */
.sb { color: #d00000 } /* Literal.String.Backtick */
.sc { color: #d00000 } /* Literal.String.Char */
.sd { color: #d00000 } /* Literal.String.Doc */
.s2 { color: #d00000 } /* Literal.String.Double */
.se { color: #d00000 } /* Literal.String.Escape */
.sh { color: #d00000 } /* Literal.String.Heredoc */
.si { color: #d00000 } /* Literal.String.Interpol */
.sx { color: #d00000 } /* Literal.String.Other */
.sr { color: #d00000 } /* Literal.String.Regex */
.s1 { color: #d00000 } /* Literal.String.Single */
.ss { color: #d00000 } /* Literal.String.Symbol */
.il { color: #d00000 } /* Literal.Number.Integer.Long */
.nb { color: #d00000; font-weight: bold; } /* Name.Builtin */

.g { color: #d0d0d0 } /* Generic */
.x { color: #d0d0d0 } /* Other */
.o { color: #a0a0a0 } /* Operator */
.p { color: #a0a0a0 } /* Punctuation */

.n  { color: #d0d0d0 } /* Name */
.na { color: #d0d0d0 } /* Name.Attribute */
.nc { color: #d0d0d0 } /* Name.Class */
.no { color: #d0d0d0 } /* Name.Constant */
.nd { color: #d0d0d0 } /* Name.Decorator */
.ni { color: #d0d0d0 } /* Name.Entity */
.ne { color: #d0d0d0 } /* Name.Exception */
.nf { color: #d0d0d0 } /* Name.Function */
.nl { color: #d0d0d0 } /* Name.Label */
.nn { color: #d0d0d0 } /* Name.Namespace */
.nx { color: #d0d0d0 } /* Name.Other */
.py { color: #d0d0d0 } /* Name.Property */
.nt { color: #d0d0d0; font-weight: bold } /* Name.Tag */
.nv { color: #d0d0d0 } /* Name.Variable */
.ow { color: #d0d0d0; font-weight: bold } /* Operator.Word */

.ge { color: #d0d0d0; font-style: italic } /* Generic.Emph */
.gr { color: #d22323 } /* Generic.Error */
.gh { color: #ffffff; font-weight: bold } /* Generic.Heading */
.gi { color: #589819 } /* Generic.Inserted */
.go { color: #cccccc } /* Generic.Output */
.gp { color: #aaaaaa } /* Generic.Prompt */
.gs { color: #d0d0d0; font-weight: bold } /* Generic.Strong */
.gu { color: #ffffff; text-decoration: underline } /* Generic.Subheading */
.gt { color: #d22323 } /* Generic.Traceback */
.w { color: #666666 } /* Text.Whitespace */
.bp { color: #24909d } /* Name.Builtin.Pseudo */
.vc { color: #40ffff } /* Name.Variable.Class */
.vg { color: #40ffff } /* Name.Variable.Global */
.vi { color: #40ffff } /* Name.Variable.Instance */

.cs { color: #e50808; font-weight: bold; background-color: #520000 } /* Comment.Special */
.gd { color: #d22323 } /* Generic.Deleted */
