<html>
<head>
<meta http-equiv=content-type content="text/html; charset=utf-8"/>
<link rel="stylesheet" type="text/css" href="/dim.css" />
<link rel="stylesheet" type="text/css" href="/syntax.css" />
<link type="application/atom+xml" href="{{ site.url }}/{{ site.feed }}" rel="alternate"/>
<script type="text/javascript" src="/imageview.js"></script>
<title>{{ page.title }}</title>
</head>
<body>
<div class="body">
	<div class="menu">
		<h1><a href="/">umi</a></h1>
		<a href="/">CONTENT</a><br>
		<a href="/2014/02/03/cv.html">CV</a><br>
		<a href="https://github.com/umi0451">GITHUB</a><br>
		<a href="/projects.html">PROJECTS</a><br>
		<a href="/{{ site.feed }}">RSS</a>
	</div>
	<div class="main">
		<h1>{{ page.title }}</h1>
		{{ content }}
	</div>
</div>
</body>
</html>
